<div>
  <div>
    <h1>
      User Group <%= @the_user_group.group.title %> details
    </h1>

    <div>
  

      <div>
        <a href="/delete_user_group/<%= @the_user_group.id %>">
          Delete user group
        </a>
      </div>
    </div>

    <dl>
      <dt>
        User
      </dt>
      <dd>
        <%= @the_user_group.user.first_name %>
      </dd>

      <dt>
        Group
      </dt>
      <dd>
        <%= @the_user_group.group.title %>
      </dd>

      <dt>
        Approved
      </dt>
      <dd>
        <%= @the_user_group.approved %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_user_group.created_at) %> ago
      </dd>

     
    </dl>
  </div>
</div>

<hr>

Members in Group

<%# @the_user_group.each do |members| %>

<td>
<%#=# members.?? %>
</td>

<%#=# @the_user_group.attendees.where(:event_id => ??).all %>

