

<div>
  <div>
    <h1>
      List of all groups
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new group
    </h2>

    <form action="/insert_group" method="post">
      <div>
        <label for="title_box">
          Title
        </label>

        <input type="text" id="title_box" name="query_title">
      </div>

      <div>

        <input type="hidden" id="group_creator_id_box" name="query_group_creator_id" value="<%=@current_user.id%>">
      </div>

      <button>
        Create group
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table>
      <tr>
   

        <th>
          Title
        </th>

        <th>
          Group creator
        </th>

        <th>
          Created at
        </th>

      
     

        <th>
        </th>
      </tr>

      <% @list_of_groups.each do |a_group| %>
      <tr>
     

        <td>
          <%= a_group.title %>
        </td>

        <td>
          <%= a_group.group_creator.first_name %>
        </td>

        <td>
          <%= time_ago_in_words(a_group.created_at) %> ago
        </td>
      

        <td>
          <a href="/groups/<%= a_group.id %>">
            Show details
          </a>
        </td>
        
        <td>
        <form action="/insert_user_group" method="post" >
      <div>
    
        <input type="hidden" id="user_id_box" name="query_user_id" value="<%=@current_user.id%>">
      </div>

      <div>
      

        <input type="hidden" id="group_id_box" name="query_group_id" value="<%=a_group.id%>">
      </div>
  
  

      <button>
        Join group
      </button>
      </td>
    </form>
     

      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
