<div>
  <div>
    <h1>
      List of all attendees
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new attendee
    </h2>

    <form action="/insert_attendee" method="post">
      <div>
        <label for="event_id_box">
          Event
        </label>

        <input type="text" id="event_id_box" name="query_event_id">
      </div>

      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id">
      </div>

      <div>
        <input type="checkbox" id="rsvp_box" name="query_rsvp" value="1">

        <label for="rsvp_box">Rsvp</label>
      </div>

      <button>
        Create attendee
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table>
      <tr>
        <th>
          ID
        </th>

        <th>
          Event
        </th>

        <th>
          User
        </th>

        <th>
          Rsvp
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_attendees.each do |an_attendee| %>
      <tr>
        <td>
          <%= an_attendee.id %>
        </td>

        <td>
          <%= an_attendee.event_id %>
        </td>

        <td>
          <%= an_attendee.user_id %>
        </td>

        <td>
          <%= an_attendee.rsvp %>
        </td>

        <td>
          <%= time_ago_in_words(an_attendee.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(an_attendee.updated_at) %> ago
        </td>

        <td>
          <a href="/attendees/<%= an_attendee.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
