
<div>
  <div>
    <h1>
      Attendee #<%= @the_attendee.id %> details
    </h1>

    <div>
      <div>
        <a href="/attendees">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_attendee/<%= @the_attendee.id %>">
          Delete attendee
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Event
      </dt>
      <dd>
        <%= @the_attendee.event_id %>
      </dd>

      <dt>
        User
      </dt>
      <dd>
        <%= @the_attendee.user_id %>
      </dd>

      <dt>
        Rsvp
      </dt>
      <dd>
        <%= @the_attendee.rsvp %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_attendee.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_attendee.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit attendee
    </h2>

    <form action="/modify_attendee/<%= @the_attendee.id %>"  method="post" >
      <div>
        <label for="event_id_box">
          Event
        </label>

        <input type="text" id="event_id_box" name="query_event_id" value="<%= @the_attendee.event_id %>">
      </div>

      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id" value="<%= @the_attendee.user_id %>">
      </div>

      <div>
        <input type="checkbox" id="rsvp_box" name="query_rsvp" value="1" <%= "checked" if @the_attendee.rsvp %>>

        <label for="rsvp_box">
            Rsvp
        </label>
      </div>

      <button>
        Update attendee
      </button>
    </form>
  </div>
</div>

<hr>
